body,
p,
nav {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/background1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

p,
span,
a {
    font-family: 'Roboto', sans-serif;
}

.milan-holidays-wraper {
    width: 1030px;
    margin: 0 auto;
}

.nav-milan-holidays-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 46px 0 17px;
}

.nav-milan-holidays-logo {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 29px;
    position: relative;
    box-sizing: border-box;
    color: #FFFFFF;
}

.nav-logo::before {
    content: "";
    background-image: url(../img/logo\ 3.png);
    width: 53px;
    height: 47px;
    position: absolute;
    left: -57px;
    bottom: 0px;
}

.nav-milan-holidays-data p {
    position: absolute;
    left: 61px;
    bottom: 9px;
    line-height: 0.7;
}


.holidays {
    font-size: 18px;
}

.nav-milan-holidays-logo:hover {
    color: #F26522;
}
.nav-milan-holidays-logo:hover .nav-logo::before {
    background-image: url(../img/logo_hover.png);
}

.nav-milan-holidays-logo:hover .logo-img {
    background-image: url(../img/logo_hover.png);
    width: 53px;
    height: 47px;
}

.nav-milan-holidays-contacts {
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: flex-end;
}

.nav-milan-holidays-contacts a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}
.nav-milan-holidays-contacts a:hover {
    color: #F26522;
}

.milan-holidays-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 37px;
    column-gap: 62px;
    width: 100%;
}

.main-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
}

.copyright {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    padding: 48px 0 15px;
}

.view-details-container {
    width: 100%;
    height: 55px;
    background-color: #F26522;
    position: absolute;
    left: 0;
    bottom: -55px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 7px 37px 12px 15px;
    box-sizing: border-box;
}

.item-container-hidden {
    height: 220px;
    overflow: hidden;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #ffffff 0%, #000000 100%);
    border-image-slice: 1;
    position: relative;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.price span:first-child {
    font-size: 10px;
    font-weight: 400;
}

.price span:last-child {
    font-size: 20px;
    font-weight: 400;
}
.view-vector {
    font-size: 14px;
   }
.view-vector::after {
    content: "";
    background-image: url(../img/Vector\ 1.png);
    width: 7px;
    height: 12px;
    position: absolute;
    bottom: 14px;
    right: 16px;
}

.main-item:hover .description {
    color: #F26522;
}

.main-item:hover .view-details-container {
    translate: 0 -55px;
    transition: 1s;  
}
